#container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
html {
  overflow-y: scroll;
 }
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
#input-button {
  width: 100px;
  height:100px;
  position: absolute;
  right: 0px;
  bottom: 50px;
}
.Problem_text{
  font-size: xx-large;
}
.problem_property{
  width:500px;
  font-size: 20px;
}
.name_tag{
  width: auto;
}
.url_tag{
  width:auto;
}
.solve_button{
  border-radius: 30px;
  
}