<ion-header>
  <ion-toolbar>
    <ion-title>
      Today Problems
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--toggleで、解いたか解いてないのかを管理できそう-->
<ion-content [fullscreen]="false">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="goToNextPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <ion-item *ngFor="let t of plobrems" button=false>
      <ion-checkbox slot="start" checked="false"></ion-checkbox>
      <ion-button class="solve_button" href="{{t.url}}" slot="end" fill="outline" shape="round">solve</ion-button>
        
      <!--checked == trueだった場合、薄緑にしたい-->
      <ul>
        <li>
          <span class="problem_property">Name :</span>
          <span class="problem_text">{{t.name}}</span>
        </li>
        <li>
          <span class="problem_property">URL:</span>
          <!--todo-->
          <span href="t.url" class="problem_text">{{t.url}}</span>
        </li>
        <li>
          <span class="problem_property">memo:</span>
          <!--todo-->
          <span class="problem_text">{{t.memo}}</span>
        </li>
      </ul>
      
    </ion-item>
  </div>
  <!--
    <ion-fab name="add-circle-outline" " id="input-button"></ion-icon>
      -->
      
</ion-content>
