<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today Problems
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--toggleで、解いたか解いてないのかを管理できそう-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Today Problems</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-item *ngFor="let t of plobrems" button=true>
      <ion-checkbox slot="start" checked="false"></ion-checkbox>
      <!--checked == trueだった場合、薄緑にしたい-->
      <ul>
        <ion-button class="solve_button" href="{{t.url}}">solve</ion-button>
        <li>
          <span class="problem_property">Name :</span>
          <span class="problem_text">{{t.name}}</span>
        </li>
        <li>
          <span class="problem_property">URL:</span>
          <!--todo-->
          <span href="t.url" class="problem_text">{{t.url}}</span>
        </li>
        <li>
          <span class="problem_property">memo:</span>
          <!--todo-->
          <span class="problem_text">{{t.memo}}</span>
        </li>
      </ul>
      
    </ion-item>
  </div>
    <ion-icon name="add-circle-outline" (click)="goToNextPage()" id="input-button"></ion-icon>
</ion-content>
