<ion-header>
  <ion-toolbar>
    <ion-title>problem-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-toolbar>
      <ion-title>All problem</ion-title>
    </ion-toolbar>
    <ion-item *ngFor="let t of Problems" button=false>
      <!--ページを開くときに、新しいタブを開くようにしたい。todo-->
      <ion-button class="solve_button" href="{{t.url}}" size="large" slot="end" fill="solid" shape="round" >solve</ion-button>
        
      <ul>
        <li>
          <span class="problem_property">Name :</span>
          <span class="problem_text">{{t.name}}</span>
        </li>
        <li>
          <span class="problem_property">memo:</span>

          <span class="problem_text">{{t.memo}}</span>
        </li>
        <li>
        <span class="problem_property">last_AC:</span>
        <!--todo-->
        <span class="problem_text">{{t.last_AC}}</span>
        </li>
      </ul>    
    </ion-item>
  </div>
</ion-content>
